@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Secular+One&display=swap');

.App {
  /* temporary fixes the space of the navbar */
  padding-top: 5%;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height: 100%;
}

.location-marker {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Custom CSS */

.splash {
  color: white;
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://asics-corporate-production-draft.s3.amazonaws.com/qor_media_library/qor/widget/view_setting/5327/180605_Asics_K25_Track_Hero_2666%20FINAL_original.jpg?1528469986"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Secular One', sans-serif;
  font-size: 10vh;
}

.video-size {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
}

.splash-video {
  width: 100%;
  max-height: 85vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}

.video-size > video {
  display: block;
}

@media only screen and (max-width: 600px) {
  .video-size {
    min-height: 100vh;
    -moz-transform:scale(6);
    -webkit-transform:scale(6);
    -o-transform:scale(6);
    -ms-transform:scale(6);
    transform:scale(6);
  }
}

.splash h1 {
  margin: 0;
  padding-top: 10%;
  color: white;
  -webkit-text-fill-color: transparent;
  fill: none;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  letter-spacing: 3px;
}

.splash p {
  color: white;
  font-size: 2vh;
  letter-spacing: 3px;
}

.splash button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: transparent;
  fill: none;
  border: 2px solid white;
  color: white;
  letter-spacing: 1px;
}

/* following code is nnecessary, official Material UI way to fix is adding a second invisible toolbar after navbar*/
.navbarParent {
  height: 15px;
}

/* not the best way to customize. please read documentation later and change */
.MuiToolbar-root {
  background-color: black;
}

.home-event-link {
  margin: 2px;
  flex: 20%;
  height: 110%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  transition: transform .15s ease-in;
}

/* #card {
  width: 20vw;
} */

.home-event-link:hover{
  transform: translate3d(0px, -25px, 0px);
}

.home-events-ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* font-family: 'Roboto', sans-serif; */
}

.home-event-location-text {
  margin: 0;
  font-size: 75%;
  overflow: hidden;
}

.home-event-info-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.home-event-span {
  padding: 0;
}

.home-event-info {
  /* width: 100%; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editevent-edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-buttons {
  margin: 20px;
}

.editevent-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.UserInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Create Details */

.create-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* EventDetails.js*/
.detailsText {
  display: flex;
  flex-direction: column;
  align-items: left;

  justify-content: flex-start;
  text-align: center;
}

.eventDetails-comments {
  margin: 15px;
}

.eventdetails-container {
  height: 50%;
}


.eventdetails-container-map {
  /* padding-top: 50vh; */
  height: 450px;
  background-color: black;
  padding-top: 10px;
  /* padding-top: 1%; */
  /* width: 100vw; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.detailsText p {
  border: 1px;
  border-color: black;
}

.event-details-card {
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  padding-top: 100px;
}

.event-details-card-h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 7vh;
  padding: 0;
  margin: 0;
}

.detailsText-date {
  font-family: 'Oswald', sans-serif;
  font-size: 3vh;
  padding: 0;
  margin: 0;

}

.detailsText-ages {
  font-family: 'Oswald', sans-serif;
  font-size: 3vh;
  padding: 0;
  margin: 0;
}

.detailsText-address {
  font-family: 'Oswald', sans-serif;
  font-size: 4vh;
  margin-top: 0;
  padding-top: 0;
}

.detailsText-sport {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5vh;
  margin: 0;
  padding-top: 0;
}

.detailsText-spots {
  font-family: 'Oswald', sans-serif;
  font-size: 3vh;
  margin-top: 0;
  padding-top: 0;
}

.detailsText-ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5vh;
  margin-top: 0;
  padding-top: 0;
}

.detailsText-description {
  font-family: 'Oswald', sans-serif;
  font-size: 2vh;
}

.detailsText-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.commentBox {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.materialList {
  display: flex;
  flex-direction: row;
}

/* Home grid */
.home-event-typography {
  height: 55px;
  overflow: hidden;
}

.home-event-typography h4 {
  margin: 5px;
  font-weight: bold;
  font-family: 'Oswald';
  font-size: 1.2rem;
}

.home-container-first {
  width: 100%;
  height: 60vh;
  background-image: url("./assets/2135152.png");
  background-size: 100% 100%;
}

.home-container-event-list {
  margin-left: 20px;
  margin-right: 20px
}

.profile-container-user-info {
  top: 0;
  width: 100%;
  /* height: 60vh; */
  background-image: url("./assets/tenis.png");
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-position: fixed;
}
.profile-container-image {
  margin-top: 30vh;
  height: 20vh;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .profile-container-image {
    margin-top: 10vh;
    height: 20vh;
    border-radius: 50%;
  }
  .profile-container-user-info {
    background-image: none;
  }

}

.userinfo-form {
  margin-top: 20vh;
}

section {
  margin: 0;
}

.home-container {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container-dropdown {
  margin-top: 2%;
}

.home-container-create-button {
  padding-top: 5%;
  margin: 2%;
}

/* .home-container-create-button { */

/* Profile */
.profile-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.please-set-up {
  font-size: 5vh;
}

.profile-container-buttons {
  margin-top: 30vh;
}

.activities {
  margin-top: 10vh;
}

.userinfo-container {
  top: 0;
  width: 100%;
  height: 60vh;
  background-image: url("./assets/170-1700998_baseball-field.png");
  background-size: 100% 100%;
  background-position: fixed;
}

.profile-container-name {
  margin: 0;
  margin-top: 20px;
  font-size: 8vh;
}

.profile-container-country {
  margin: 0;
  font-size: 4vh;
}

.profile-container-ul {
  padding: 0;
  list-style: none;
  font-size: 2vh;
}

.profile-container-buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.profile-container-edit-button {
  margin-right: 5%;
}

.profile-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 13%;
}

.profile-li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.profile-container-activities {
  margin: 40px;
  font-size: 3vh;
}

/* Navbar */
.navProfileImg {
  height: 26px;
  border-radius: 50%;
}

/* LATEST CSS FOR FOOTER */


footer{
  /* position: fixed; */
  padding-top: 20%;
  background: #000;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: invisible;
} */
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 50px; */
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
background: #2c303a;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

.home-container-additional-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  flex-wrap: wrap;
}

.home-container-additional-content img {
  height: 30vh;
}

.home-container-additional-first {
  width: 30%;
}

.home-container-additional-first h1 {
  font-size: 4vh;
}

.home-container-additional-first p {
  font-size: 2vh;
}

/* ABOUT US */
.about-us {
  display: flex;
  justify-content:space-evenly;

}
.about-us p {
max-width: 450px;
}